<div style="text-align: center; margin-top: 4em; margin-right: 20em; margin-left: 20em;">
  <h1 class="bold" style="font-family:Calibri;"> Chopper Store</h1>
  <h6 class="gray" style="font-family:Calibri"> ChopperStore es tu destino confiable para skins de CS2, ofreciendo una amplia seleccion que eleva tu experiencia de juego. Con un enfoque especializado en la compra y venta de skins, nos comprometemos a proporcionar seguridad y variedad para satisfacer tus necesidades!</h6>
</div>

<div style="margin-top: 4em;" class="flex-container">
  <div class="flex-item-left" style="margin-left: 5%;">
    <div>
      <h3 class="semibold">Tienda</h3>
      <h6 class="gray">Conoce nuestra amplia selección de skins de CS2 para mejorar tu experiencia de juego.</h6>
    </div>
  </div>
  <div class="flex-item-right" style="margin-right: 5%;">
    <div class="container">
      <img class="shadow" width="100%" alt="Foto de CSGO" src="/T-running-monster-overpass.jpg" />
      <button mat-flat-button class="btn">Tienda</button>
    </div>
  </div>
</div>

<div style="margin-top: 4em;" class="flex-container">
  <div class="flex-item-left" style="margin-left: 5%;">
    <div class="container">
      <img class="shadow" width="100%" alt="Foto de CSGO" src="/03.jpg" />
      <button mat-flat-button class="btn">Nosotros</button>
    </div>
  </div>
  <div class="flex-item-right" style="margin-right: 5%;">
    <div>
      <h3 class="semibold">Nosotros</h3>
      <h6 class="gray">Conoce nuestra misión, visión y objetivos para garantizarte la mejor calidad y servicio. </h6>
    </div>
  </div>
</div>

<div style="margin-top: 4em;" class="flex-container">
  <div class="flex-item-right" style="margin-left: 5%; margin-right: 5%;">
    <div>
      <h3 class="semibold">Noticias</h3>
      <h6 class="gray">Ultimas noticias del CS2</h6>
      <img class="shadow" width="100%" alt="Foto de CSGO" src="/83365b8ee0486f386cb148e31705fc6e2567d66e.png" />
    </div>
  </div>
</div>
