<div style="text-align: center; margin-top: 4em;">
  <h1 class="bold" style="font-family:Calibri;"> Perfil</h1>
</div>

<div style="margin-top: 4em;" class="flex-container">
  <div class="flex-item-left">
    <div style="display: flex; flex-direction:column; align-items:center; justify-content:center">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="company shadow">
      <button style="margin-top:2em;background-color: #D9697D; color: white;" class="btn shadow" mat-flat-button>Cargar foto</button>
    </div>
  </div>
  <div class="flex-item-right">
    <div class="container">
      <div style="display: flex; flex-direction:column; align-items:center;">
        <div class="example-form">
          <p class="semibold">Nombre</p>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label style="color: #828282">Ingresá tu usuario</mat-label>
            <input style="color: #828282" matInput />
          </mat-form-field>
          <p class="semibold">Apellido</p>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label style="color: #828282">Ingresá tu usuario</mat-label>
            <input style="color: #828282" matInput />
          </mat-form-field>
          <p class="semibold">Mail</p>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label style="color: #828282">Ingresá tu usuario</mat-label>
            <input style="color: #828282" matInput />
          </mat-form-field>
          <p class="semibold">Telefono</p>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label style="color: #828282">Ingresá tu usuario</mat-label>
            <input style="color: #828282" matInput />
          </mat-form-field>
          <div style="display:flex;justify-content:center">
            <button style="margin-top:2em;background-color: #D9697D; color: white;" class="btn shadow" mat-flat-button>Editar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h1 class="bold" style="font-family:Calibri; text-align:center; margin-top:2em"> Historial de compras</h1>
<div>
  <div style="margin-top:4em; border-radius:10px; padding:24px; margin-left:5%; margin-right:5%; margin-bottom:4em" class="mat-elevation-z8 shadow">
    <table mat-table [dataSource]="dataSource" style="background-color:white">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th class="bold" style="color:black" mat-header-cell *matHeaderCellDef> Name </th>
        <td style="color:black" mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="price">
        <th class="bold" style="color:black" mat-header-cell *matHeaderCellDef> Price </th>
        <td style="color:black" mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="date">
        <th class="bold" style="color:black" mat-header-cell *matHeaderCellDef> Date </th>
        <td style="color:black" mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-divider></mat-divider>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
</div>
