/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
}
// Manipulate initial background color

.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 10px;
}

.mdc-text-field--focused .mdc-notched-outline > * {
  border-color: #828282 !important;
}

.mdc-text-field--invalid .mdc-notched-outline > * {
  border-color: red !important;
}

.mdc-text-field {
  padding: 0px;
}
